<fieldset>
<%= simple_form_for(@question) do |f| %>

	<%= f.input :title %>
	<%= f.input :requester_name %>
	<div class="row">
		<div class="seven columns">
			<%= f.input :requester_email %>
		</div>
		<div class="five columns">
			<%= f.input :requester_phone %>
		</div>
	</div>

	<div class="row">
		<div class="seven columns">
			<%= f.input :state_id do %>
			<%= f.collection_select :state_id, State.all, :id, :name, :selected => @question.city.present? ? @question.city.state_id : @question.state_id, :include_blank => 'Selecione um estado' %>
			<% end %>
			
		
		</div>
		<div class="five columns">
			<%= f.input :city_id do %>
			<%= f.collection_select :city_id, cities(@question.city.present? ? @question.city.state_id : @question.state_id), :id, :name, :selected => @question.city_id, :include_blank => @question.city.present? || @question.state_id.present? ? 'Selecione a cidade' : 'Selecione um estado' %>
			<% end %>
		</div>
	</div>

	<%= f.input :description, :as => :text, input_html: {:rows => "10"} %>

	<div class="form-actions">
		<%= f.button :submit,  :class => "secondary button" %> ou
		<%= link_to "Cancelar", root_path %>
	</div>
	<% end %>
</fieldset>


