<div class="row-fluid">
	<h2 class="title-divider"><span>Últimas <span class="de-em">Perguntas</span></span></h2>
</div>
<div class="row">
	<div class="span9">
		<%= simple_form_for @question do |f| %>
			<h3 class="title-divider"><span>Nova Pergunta</span> </h3>
			<%= f.input :title, 					input_html: { class: "input-block-level" }, label: false %>
			<%= f.input :requester_name, 	input_html: { class: "input-block-level" }, label: false %>
			<%= f.input :requester_email, input_html: { class: "input-block-level" }, label: false %>
			<%= f.input :requester_phone, input_html: { class: "input-block-level" }, label: false %>

			<%= f.association :state, required: false %>

			<%= f.association :city, required: false %>

			<%= f.input :description, :as => :text, input_html: { class: "input-block-level", rows: "10" }, required: false %>

			<div class="form-actions">
				<%= f.button :submit,  :class => "secondary button" %> ou
				<%= link_to "Cancelar", root_path %>
			</div>
		<% end %>
	</div>
  <%= render "sidebar" %>
</div>



