<div class="row">
	<div class="seven columns" id="teste1">
		<article class="question-index">
			<header>
				<%= header_question(question) %>
				<span class="question"><%= link_to question.title, question, :class => "link" %></span>
			</header>
			<footer class="question-footer">
				<%= t("questions.published_at", :time => l(question.created_at, :format => :short)) %>
			</footer>
		</article>
	</div>
	<div class="five columns" id="teste2">
		<div class="count">
			<% if question.answers_count.zero? %>
			<span class="none_count">Nenhuma resposta</span>
			<% else %>
			<span class="number_count"><%= question.answers_count %></span>
			<%= link_to t(".answer", count: question.answers_count), question %>
			<% end %>
		</div>
		<div class="answers">
			<% question.answers.each do |answer|%>
			<span class="user_answer_number">
				<%= link_to image_tag(avatar_image_thumb(answer.user)), user_path(answer.user)%>
				<%= link_to answer.user.username, user_path(answer.user) %>
			</span>
			<% end %>
		</div>
	</div>
</div>