<% title t(".title") %>

<% content_for :sidebar do %>
  <%= render("shared/sidebar") %>
<% end %>

<h1><%= t(".container_title") %></h1>

<section id='questions'>
	<% if user_signed_in? %>
		<% @questions_filter.each do |question| %>
			<%= render question %>
		<% end %>
	<% else %>
		<% @questions.each do |question| %>
			<%= render question %>
		<% end %>
	<% end %>
</section>

<div class="digg_pagination">
  <%= will_paginate @questions %>
</div>

