<% title t(".title") %>

<h1><%= t(".container_title") %></h1>
<p>
  Sua busca por <strong><%= params[:search].values %></strong>
  retornou os seguintes resultados:
</p>

<ul id='questions'>
  <% @questions.each do |question| %>
    <%= render question %>
  <% end %>
</ul>

<% if @questions.size == 0 %>
  <h2>Nenhum resultado encontrado</h2>
<% end %>

<div class="digg_pagination">
  <%= will_paginate @questions %>
</div>

<% content_for :sidebar do %>
  <%= render("shared/sidebar") %>
<% end %>
