<div class="row">
	<div class="span12">
		<%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), html: { class: 'form-login form-wrapper' }) do |f| %>
		<%= devise_error_messages! %>
		<%= f.captcha %>
			<div class="tabbable tabs-left">
			  <ul id="myTab2" class="nav nav-tabs">
			    <li class="active"><a href="#vtab1" data-toggle="tab">Informações de Segurança</a></li>
			    <li><a href="#vtab2" data-toggle="tab">Informações Profissionais</a></li>
			    <li><a href="#vtab3" data-toggle="tab">Informações Acadêmicas e Experiências</a></li>
			  </ul>
			  <div id="myTab2Content" class="tab-content">
			    <div class="tab-pane fade in active" id="vtab1">
			      <%= f.input :username, 							input_html: { class: "input-block-level" }%>
			      <%= f.input :email, 								input_html: { class: "input-block-level" } %>
			      <%= f.input :password, 							input_html: { class: "input-block-level" } %>
			      <%= f.input :password_confirmation, input_html: { class: "input-block-level" } %>
			      <%= f.input :about,									input_html: {rows: "10", class: "input-block-level" } %>
			    </div>
			    <div class="tab-pane fade" id="vtab2">
						<%= f.input :state_id do %>
						<%= f.collection_select :state_id, State.all, :id, :name, :selected => resource.city.present? ? resource.city.state_id : resource.state_id, :include_blank => 'Selecione um estado' %>
						<% end %>
						<%= f.input :city_id do %>
						<%= f.collection_select :city_id, cities(resource.city.present? ? resource.city.state_id : resource.state_id), :id, :name, :selected => resource.city_id, :include_blank => resource.city.present? || resource.state_id.present? ? 'Selecione a cidade' : 'Selecione um estado' %>
						<% end %>
						<%= f.input :image, 							:as => :file %>
						<%= f.input :phone, 							input_html: { class: "input-block-level" }%>
						<%= f.input :portifolio_of_oab, 	input_html: { class: "input-block-level" } %>
						<%= f.input :fields, 							input_html: { class: "input-block-level" } %>
						<%= f.input :teaching,            as: :integer, input_html: { class: "input-block-level" } %>
						<%= f.input :professional,        as: :integer, input_html: { class: "input-block-level" } %>
						<%= f.input :books_published,     as: :integer, input_html: { class: "input-block-level" } %>
						<%= f.input :articles_published,  as: :integer, input_html: { class: "input-block-level" } %>
			    </div>
			    <div class="tab-pane fade" id="vtab3">
			      <%= f.input :postgraduate				 %>
			      <%= f.input :master_of_law       %>
			      <%= f.input :doctorate_in_law    %>
			      <%= f.input :postgraduate_in_law %>
			      <%= f.input :foreign_laguage     %>
			    </div>
			  </div>
			  <div class="form-actions">
			    <%= f.button :submit, t(".submit"), class: "secondary button" %> or
			    <%= link_to "Cancelar", root_path, :class => "btn"%>
			  </div>
			</div>
		<% end %>
		<%= render "devise/shared/links" %>
	</div>
</div>
