<div class="row">
	<div class="ten columns offset-by-one" id="user-show">
		<div class="row">
			<div class="seven columns">
				<%= image_tag(avatar_url(@user, 70), :alt => @user.username) %>
				<span class="name_show"><%= @user.username %></span>
			</div>
			<div class="four columns" id="score-container">
				<%= render "shared/score_public" %>
			</div>
		</div>

		<div class="row">
			<div class="twelve columns offset-by-one" id="dados-lista">
				<ul>
					<li>E-mail: 												<span class="result"><%= @user.email %></span>				</li>
					<li>Estado: 												<span class="result"><%= @user.state %></span>				</li>
					<li>Cidade: 												<span class="result"><%= @user.city %></span>					</li>
					<li>Telefone: 											<span class="result"><%= @user.phone %></span>				</li>
					<li>Áreas de Atuação: 							<span class="result"><%= @user.fields %></span>				</li>
					<li>Registro OAB: 									<span class="result"><%= @user.oab %></span>					</li>
					<li>Anos de Exercício Profissional: <span class="result"><%= @user.professional %></span>	</li>
					<li>Sobre: 													<span class="result"><%= @user.about %></span>				</li>
				</ul>
			</div>
		</div>
	</div>
</div>
