<header>
  <div id='masthead'>
    <div id='sign-in'>
      Você é advogado?
      <%= link_to "Faça seu cadastro gratuitamente", nil, :class => "btn-large btn-success" %>
    </div>
  </div>
  <div id='logo'><a href="http://0.0.0.0:4000/">Alik</a></div>
  <nav class="navigation">
    <ul>
      <li><%= link_to "Home", root_path %></li>
      <li><%= link_to "Quem Somos", about_path %></li>
      <li><%= link_to "Blog", nil %></li>
      <li><%= link_to "Contato", new_contact_path %></li>
      <li><%= link_to "Login", nil %></li>
    </ul>
  </nav>
</header>
<hr>
