<div class="two columns" id="logo">
	<%= link_to image_tag("alik-logo.png"), root_path %>
</div>
<div class="six columns" id="menu">
	<ul class="nav-bar">
		<li><%= link_to "Home", root_path %></li>
		<li><%= link_to "Quem Somos", sobre_path %></li>
		<li><%= link_to "Blog", nil %></li>
		<li><%= link_to "Contato", new_contact_path %></li>
		<% unless user_signed_in? %>
		<li><%= link_to "Login", new_user_session_path %></li>
		<% end %>
	</ul>
</div>
<div class="four columns" id="devise-menu">
	<% if user_signed_in? %>
	Logado como: 
		<div href="#" class="secondary button split dropdown">
		  <a href="#"><%= current_user.username %></a>
		  <span></span>
		  <ul>
		    <li><%= link_to 'Editar perfil', edit_user_registration_path %></li>
		    <li><%= link_to "Sair", destroy_user_session_path, method: :delete %></li>
		  </ul>
		</div>
	<% else %>
	Você é advogado?
	<%= link_to "Faça seu cadastro gratuitamente", new_user_registration_path, :class => "small gloss success button radius" %>
	<% end %>
</div>