<div class="twelve columns" id="busca">
	<h1>CONSELHOS DE ESPECIALISTAS QUANDO VOCÊ MAIS PRECISA</h1>
	<div class="row collapse">
		<div class="ten mobile-three columns">
			<%= form_for current_search, :url => search_questions_path, :html => {:method => :get} do |f| %>
			<%= f.text_field :title_or_description_contains %>
		</div>
		<div class="two mobile-one columns">
			<%= submit_tag t("form.buttons.search"), :class => "postfix button expand gloss success" %>
		</div>
		<% end %>
	</div>
	<ul class="button-group even five-up buttons-home">
		<li><%= link_to "Fazer pergunta", new_question_path, :class => "small button secondary radius gloss" %></li>
		<li><%= link_to "Procurar um advogado", users_path, :class => "small button secondary radius gloss" %></li>
	</ul>
</div>