<h1>Assessoria jurídica gratuita</h1>
<%= form_tag search_questions_path, :method => :get, :class => "home-search" do %>
  <%= text_field_tag :query, params[:query], placeholder: "Faça uma busca em nosso site" %>
  <%= submit_tag t("form.buttons.search"), :class => "btn btn-large btn-success" %>
<% end %>
<ul class="buttons-home">
  <li><%= link_to "Fazer pergunta", "#new_question", "data-toggle" => "modal", :class => "btn btn-large" %></li>
  <li><%= link_to "Procurar um advogado", nil, :class => "btn btn-large" %></li>
</ul>


<div class="modal hide fade" id="new_question">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">X</button>
    <h1>Criar uma nova pergunta</h1>
  </div>
    <%= simple_form_for Question.new, :html => { :class => 'form-horizontal' } do |f| %>
        <%= f.input :title, input_html: {:class => "span3"}  %>
        <%= f.input :requester_name, input_html: {:class => "span3"}%>
        <%= f.input :requester_email, input_html: {:class => "span3"} %>
        <%= f.input :requester_phone, :as => :string, input_html: {:class => "span3"} %>
        <%= f.input :city_name, input_html: {data: {autocomplete_source: City.order(:name).map(&:name)}, :class => "span3"} %>
        <%= f.input :description, :as => :text, input_html: {:class => "span3"} %>
      
      <div class="form-actions">
        <%= f.button :submit,  :class => "btn btn-primary" %>
        <%= link_to "Cancelar", "#", :class => "btn", :"data-dismiss" => "modal"%>
      </div>
    <% end %>
  
</div>