<div id="score">
  <div id="average">

    <div class="column alik">
      <%=image_tag('alik-logo-small.png')%>
      <br>índice
    </div>

    <div class="column">
      <span id="score-info">
        <%= @user.human_alik_rate %>
      </span><br>

      <strong>
        <%=number_with_precision(@user.alik_rate/3, precision: 1)%>
      </strong>
    </div>

  </div>

  <p id="counter">
    <strong id="useful"> <%="#{@user.answers.useful.count}" %></strong> resposta(s) positiva(s)<br>
    <strong id="useless"><%="#{@user.answers.useless.count}"%></strong> resposta(s) negativa(s)
  </p>

</div>