<h1 class="h1_sidebar">Destaques</h1>
<% User.randon.each do |user| %>
<div class="row" id="user_profile">
	<div class="twelve columns">
		<%= image_tag avatar_image_medium(user) %> <span class="name"><%= user.username %></span>
		<!-- OAB -->
		<div class="row">
			<div class="twelve columns" id="profile_sidebar">
				<span class="information">CARTEIRA OAB:</span>
				<% if user.portifolio_of_oab.present? %>
					<%= user.portifolio_of_oab %>
				<% else %>
				<span class="none">Não Informado</span>
				<% end %>
			</div>
		</div>
		<!-- OAB -->

		<!-- CIDADE -->
		<div class="row">
			<div class="twelve columns" id="profile_sidebar">
				<span class="information">CIDADE:</span>
				<% if user.city.present? %>
				<%= user.city.name %>
				<% else %>
				<span class="none">Não Informado</span>
				<% end %>
			</div>
		</div>
		<!-- CIDADE -->

		<!-- TELEFONE -->
		<div class="row">
			<div class="twelve columns" id="profile_sidebar">
				<span class="information">TELEFONE:</span>
				<% if user.phone.present? %>
				<%= user.phone %>
				<% else %>
				<span class="none">Não Informado</span>
				<% end %>
			</div>
		</div>
		<!-- TELEFONE -->

		<!-- EMAIL -->
		<div class="row">
			<div class="twelve columns" id="profile_sidebar">
				<span class="information">EMAIL:</span>
				<% if user.email.present? %>
				<%= user.email %>
				<% else %>
				<span class="none">Não Informado</span>
				<% end %>
			</div>
		</div>
		<!-- EMAIL -->

		<!-- ÍNDICE -->
		<div class="row">
			<div class="twelve columns" id="profile_sidebar">
				<span class="information">ÍNDICE:</span>
				<%= number_with_precision(user.alik_rate/3, precision: 1)%> - <%= user.human_alik_rate %>
			</div>
		</div>
		<!-- ÍNDICE -->

	</div>
</div>
<% end %>

<style type="text/css" media="screen">

h1.h1_sidebar{ text-align:center; font-size: 2.2em; font-family: 'Imprima', Helvetica, arial, sans-serif;
text-shadow: 0 2px 0 white;
letter-spacing: -1px;
color: #333;}
#profile_sidebar{
	padding-left:70px;
	font-size: 11px;
	margin-top: 5px;
}

#user_profile{
	margin-bottom: 35px;
}
span.name{
	font-weight: bold;
	font-size: 11px;
	text-transform: uppercase;
}

span.none{
	font-size: 11px;
	color:#777;
}

span.information{
	font-size: 11px;
	text-transform: uppercase;
	font-weight: bold;
}

#user_profile img{
	padding: 2px;
	border: solid 2px #555;
	width: 50px;
	vertical-align:middle;
}
</style>



