<% title t(".title") %>

<h2><%= t(".container_title") %></h2>

<%= simple_form_for @contact do |f| %>
  <%= f.error_notification %>
  <%= f.input :name %>
  <%= f.input :email %>
  <%= f.input :message, :as => :text %>
  <%= f.button :submit, :class => "btn btn-success" %>
<% end %>

<% content_for :sidebar do %>
  <%= render("shared/sidebar") %>
<% end %>