<% title t(".title") %>

<% content_for :sidebar do %>
  <%= render("shared/sidebar") %>
<% end %>

<h1 class="contato"><%= t(".container_title") %></h1>

<%= simple_form_for @contact do |f| %>
  <%= f.input :name %>
  <%= f.input :email %>
  <%= f.input :message, :as => :text, input_html: {:rows => "15"} %>
  
  <div class="form-actions">
    <%= f.button :submit, :class => "btn btn-primary" %>
    <%= link_to t("general.cancel"), root_path, :class => "btn"%>
  </div>
<% end %>