
<div class="row">
	<div class="span12">
		<%= simple_form_for(@contact, html: { class: 'form-login form-wrapper form-medium' }) do |f| %>
		<h3 class="title-divider"><span>Login</span> </h3>
		<%= f.input :name, 	input_html: { class: "input-block-level" }%>
		<%= f.input :email, input_html: { class: "input-block-level" } %>
		<%= f.input :message, :as => :text, input_html: {rows:  "12", class: "input-block-level"} %>
			<div class="form-actions">
				<%= f.button :submit, "Enviar sua mensagem", class: "secondary button" %> ou
				<%= link_to t("general.cancel"), root_path, :class => "btn"%>
			</div>
		<% end %>
	</div>
</div>
